// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

.promotional-banner {
    padding: .5rem;
    display: flex;
    justify-content: center;
    background-color: #bc5959;
}

.banners {
    background-color: stencilColor("color-primary");
    color: stencilColor("color-white");
    padding: spacing("half") 30px;
    text-align: center;
    
    // display: flex;
    // justify-content: center;
    
    p {
        color: white !important;
    }

    p:last-child {
        margin-bottom: 0;
    }

    a {
        color: color("whites", "bright");
    }
}

.banner {
    @include grid-row;

    + .banner {
        margin-top: spacing("single");
    }
}
